<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
  <%= hidden_field_tag(:subject, "Re: "+ conversation.subject) %>
  <%= f.text_area :body, class: "form-control", autofocus: true %>
  <div class="form-actions">
    <%= f.submit "Send", class: 'btn btn-primary' %>
  </div>
<% end %>
