<% if alert.present? %>
	<div class="floating">
		<div class="container">
		  <div class="alert alert-warning alert-dismissible" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <strong>Alerta!</strong> <%= alert %>
		  </div>
		</div>
	</div>
<% end %>
<% if notice.present? %>
	<div class="floating">
		<div class="container">
		  <div class="alert alert-info alert-dismissible" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <strong>Atención!</strong> <%= notice %>
		  </div>
		</div>
	</div>
<% end %>