<div class="genders-menu">
	<div class="container">
		<ul class="nav nav-tabs">
		<% locals[:genders].each do |gender| %>
			<li><%= link_to gender.name, gender %></li>
		<% end %>
	</ul>
	</div>
</div>