<div class="container">
  <div class="row">
    <div class="col-sm-3">
    <%= render "partials/user", locals: {user: @user} %>
    </div>
    <div class="col-sm-9">
      <h3>Books</h3>
      <h3>Comments</h3>
      <h3>Linkes</h3>
      <h3>Follows</h3>
    </div>
  </div>
</div>