<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<%= render "partials/user", locals: {user: current_user} %>
		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">
			  <div class="panel-body">
				<h3 class="titpanel">Editing Book (<%= link_to @book.name, @book %>)</h3>

				<%= render 'form', book: @book %>

				<%= link_to '<i class="fa fa-remove"></i>'.html_safe, @book, class: "btn btn-xs btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %>
			   </div>
			</div>

		</div>
	</div>
</div>

