<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<%= render "partials/user", locals: {user: current_user} %>
		</div>
		<div class="col-sm-9">
			<h1>Add Book</h1>

			<%= render 'form2', book: @book %>

		</div>
	</div>
</div>

