<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="titpanel"><%= @post.name %></h1>
          <%= simple_format(@post.description) %>
          <hr />
          <%= @post.content.html_safe %>
          <%= link_to 'Edit', edit_post_path(@post) if current_user.present? && current_user.id = @post.user_id %>
        </div>
      </div>
    </div>
  </div>
</div>

