/* vars */
$color1: #1C1D21;
$color2: #31353D;
$color3: #445878;
$color4: #92CDCF;
$color5: #EEEFF7;

/* MIXINS */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin grid-colums($count, $gap:3) {
	-webkit-column-count: $count;
	   -moz-column-count: $count;
			column-count: $count;
	-webkit-column-gap: $gap px;
	   -moz-column-gap: $gap px;
			column-gap: $gap px;
}
@mixin colum-breack() {
	-webkit-column-break-inside: avoid;
	          page-break-inside: avoid;
	               break-inside: avoid;
}
@mixin transition($speed:0.5s) {
	-webkit-transition: all $speed ease;
	   -moz-transition: all $speed ease;
	     -o-transition: all $speed ease;
}
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/

a { color: $color3; }
a:hover { color: $color4; text-decoration: none; }
body {
	background-color: $color5;
	padding-top: 51px;
}
.floating {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 10;

}
header .logo {
	max-width: 100px;
}
header .qsearch .q {
	border: none;
	background-color: $color1;
	color: $color5;
	height: auto;
	width: 350px;
}
.genders-menu {
	background-color: $color2;
	margin-left:-15px;
	margin-right: -15px;
	color: $color5;
}
.genders-menu ul li a {
	color: $color4;
}
.genders-menu ul li a:hover {
	color: $color2;
}

/*HOME*/
.welcome {
	display: block;
	background-image: url(/img/welcome2Release.jpg);
	background-size: cover;
	background-position: bottom;
	padding: 150px 50px;
	margin-left:-15px;
	margin-right: -15px;
	color: $color5;
	text-shadow:1px 2px 2px #000000;
}


/* BOOKS */

/*.book_list {
	@media (max-width: $screen-xs-max) {
		@include grid-colums(1);
	}
	@media (min-width: $screen-sm-min) {
		@include grid-colums(2);
	}
	@media (min-width: $screen-md-min) {
		@include grid-colums(3);
	}
	@media (min-width: $screen-lg-min) {
		@include grid-colums(4);
	}
}*/
.book_list .book {
	display: inline-block;
	max-width: 260px;
	border-bottom:3px dashed $color4;
	padding-bottom: 15px;
	margin-bottom: 15px;
	/*@include colum-breack();*/
}
.book_list .book h2 {
	display: block;
	padding: 10px;
	margin: 0;
	background-color: $color3;
	font-size: 20px;
	font-weight: 500;
	@include transition();
}
.book_list .book:hover h2 {
	background-color: $color2;
}
.book_list .book h2 a {
	color: $color5;
}
.book_list .book h2 small {
	display: block;
	padding: 3px 0 0 0;
	font-size: 14px;
	color: $color5;
}
.book_list .book p {
	color: #666666;
	padding: 10px;
	font-size: 12px;
}
.book_list .book .user_link {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	background-color: $color4;
	color: $color3;
	float: right;
	@include border-radius(20px);
}
.book_list .book .price_link {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	background-color: $color2;
	color: $color4;
	@include border-radius(20px);
}