<div class="welcome">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1><%= t("welcome.welcome") %></h1>
				<h2><%= t("welcome.welcome_message") %></h2>
			</div>
			<div class="col-sm-5">

			</div>
		</div>
	</div>
</div>
<div class="container">
	<ul class="last_books">
		<% @last_books.each do |book| %>
			<li><%= book.name %></li>
		<% end %>
	</ul>
</div>